<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BaSP 2022</title>  
	<link rel="stylesheet" type="text/css" href="../styles/footer.css"/> 
	<link rel="stylesheet" type="text/css" href="../styles/header.css"/> 
	<link rel="stylesheet" type="text/css" href="../styles/landing.css"/> 
	<link rel="stylesheet" type="text/css" href="../styles/reset.css"/> 
	<link rel="stylesheet" type="text/css" href="../styles/sidebar.css"/> 
	<link rel="stylesheet" type="text/css" href="../styles/style.css"/>
	<link rel="stylesheet" type="text/css" href="../styles/login.css"/> 
	<link rel="preconnect" href="https://fonts.googleapis.com">
	</head>
	<body>
		<header class="header">
			<div class="burguer-conteiner">
                <div class="menu-logo">
                    <img src="../assets/hamburguer.png" alt="Logo-Hambur">
                </div>
			</div>
			<div class="rr-logo">
				<img src="../assets/logo.png" alt="Logo">
			</div>
			<div class="title-conteiner">
				<h2>Trackgenix SA</h2>
			</div>
		</header>
		<aside>
			<div class="aside-container">
				<div class="menu">
					<a href="index.html">
						<img src="../assets/home.png" class="icon-social">
						Home
					</a> 
				</div>
				<div class="menu">
					<a href="sign-up.html">
						<img src="../assets/login signup.png" class="icon-social">
						SignUp
					</a>
				</div>
				<div class="menu">
					<a href="">
						<img src="../assets/login signup.png" class="icon-social">
						LogIn
					</a>
				</div>
				<div class="menu">
					<a href="#Contact">
						<img src="../assets/contact.png" class="icon-social">
						Contact
					</a>
				</div>
			</div>
		</aside>
		<main>
			<section>
				<h2>Login</h2>
				<form>
					<div>
						<label>E-mail</label>
						<Input class="dirEmail" type="email"  email="email" placeholder="email@example.com">
					</div>
					<div>
						<label for="pwd">Password:</label>
						<input type="password" id="pwd" name="pwd">
					</div>
					<div class="buttom-container">
						<input class="button-s" type="submit" name="submit" value="Submit">
						<input class="button-r" type="reset" name="reset" value="Reset">
					</div>
				</form>
			</section>
		</main>
        <footer><!---footer-->
            <div class="social-container">
                <a href="https://www.facebook.com/radiumrocket">
                    <img src="../assets/fcb.png" alt="Facebook" class="icon-social">
                </a>
                <a href="https://www.instagram.com/radium.rocket/">
                    <img src="../assets/insta.png" alt="Instagram" class="icon-social">
                </a>
                <a href="https://twitter.com/radiumrocket">
                <img src="../assets/twt.jpg" alt="Twitter" class="icon-social">
                </a>
                <a href="https://www.linkedin.com/company/radium-rocket/">
                    <img src="../assets/in.png" alt="Linkedin" class="icon-social">
                </a>
            </div>
        <small>Copyright © 2022 Trackgenix S.A. All rigths reserved.</small>
    </footer>
</body>
</html>