footer {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 30px;
    font-style: italic;
}

.container-social {
    display: flex;
    justify-content: space-between;
    width: 300px;
}